.navbar{
  border-bottom: 1px solid #e7e7e7;
  padding:5px;
 .navbar-brand{
   padding:0 15px;
   img{
     width: 45px;
   }

 }
}

.sidebar{
  z-index: 1;
  position: fixed;
  top:95px;
  left: 10px;
  width: 250px;
  transition: all .3s ease-out;
  bottom: 0;

  #sidebar-container {
    height:100vh;
    background-color: white;
    padding: 0;
    overflow-Y: scroll;
    -webkit-overflow-scrolling: touch;

    .sidebar-separator-title {
      background-color: #09b0ff;
      height: 45px;
      border-top-left-radius: .25em;
      border-top-right-radius: .25em;
      //font-size: 1.5em;
    }

    .sidebar-separator {
      background-color: #f8f9fa;
      height: 25px;
    }

  }
  /* Sidebar sizes when expanded and expanded */
  .sidebar-expanded {
    width: 230px;
  }
  .sidebar-collapsed {
    width: 60px;
  }

  .list-group{
    a {
      height: 50px;
      color: #333;

    }
    .list-group-item{
      border: none;
      &[aria-expanded="false"] .submenu-icon::after {
        content: " \f152";
        font-family: "Font Awesome 5 Free";
        display: inline;
        text-align: right;
        padding-left: 10px;

      }
      &[aria-expanded="true"] .submenu-icon::after {
        content: " \f150";
        font-family: "Font Awesome 5 Free";
        display: inline;
        text-align: right;
        padding-left: 10px;
      }
    }

    .sidebar-submenu {
      font-size: 0.9rem;
      a {
        height: 45px;
        padding-left: 30px;
      }
    }
  }
}
